.venv/
venv/
__pycache__/
*.py[cod]
.env
.env.*
!.env.example
*.egg-info/
.ipynb_checkpoints/
.chroma/
chroma_db/
*.sqlite
*.sqlite3
data/*
!data/.gitkeep
.ruff_cache/
.DS_Store
.idea/
rag-udemy-course/
